<nav id="nav">
    <ul>
        <li class="special">
            <a style="margin-top: 10px" href="#menu" class="menuToggle"><span>Menu</span></a>
            <div id="menu">
                <ul>
                    <li th:if="${session.usuariosession != null}" th:text="${session.usuariosession.rol} + ': ' + ${session.usuariosession.nombre}"></li>
                    <li><a href="/">Home</a></li>
                    <!--<li th:if="${session.usuariosession != null}"><a th:href="@{/foto/usuario(id=__${session.usuariosession.id}__)}">Foto Usuario</a></li>-->
                    <li><a href="/generic">Generic</a></li>
                    <li><a href="/elements">Elements</a></li>
                    <li><a href="/pedido/catalogo">Marketplace</a></li>
                    <li th:if="${session.usuariosession == null}"><a href="/usuario/registro">Registrate</a></li>
                    <li th:if="${session.usuariosession == null}"><a href="/usuario/login">Log In</a></li>
                    <li sec:authorize="hasRole('ADMIN')" ><a href="/producto/registro">Registro Productos</a></li>
                </ul>
                <div th:if="${session.usuariosession != null}" style="margin-left: 10px;">
                    <a th:href="@{/logout}" class="boton-salir"><button type="button">Cerrar Sesion</button></a>
                </div>
            </div>
        </li>
    </ul>
</nav>