<!DOCTYPE HTML>
<html>
	<head>
		<title>Ventas Spring</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="/css/main.css" />
		<noscript><link rel="stylesheet" href="/css/noscript.css" /></noscript>
	</head>
	<body class="landing is-preload">

		<!-- Page Wrapper -->
			<div id="page-wrapper">

				<!-- Header -->
					<header id="header" class="alt">
						<h1 id="main-title"><a href="/">Ventas Spring</a></h1>
						<nav id="nav" th:replace="/fragments/nav :: nav"></nav>
					</header>

				<!-- Banner -->
					<section id="banner">
						<div class="inner">
							<h2>Ventas Spring</h2>
							<p id="names">Hecho por: <br><br>
							Xavier Pocchettino - Ignacio Barolo</p>
							<ul class="actions special">
								<li><a href="#two" class="button primary scrolly">Nuestros Servicios</a></li>
							</ul>
						</div>
						<a href="#one" class="more scrolly">Acerca de la app</a>
					</section>

				<!-- One -->
					<section id="one" class="wrapper style1 special">
						<div class="inner">
							<header class="major">
								<p id="description">El proyecto consiste en simular un sistema de ventas online 
									donde los usuarios pueden registrarse y realizar pedidos de productos </p>
								<p>Para poder realizar un pedido primero debe registrarse en la página completando
									un formulario, luego ya puede comenzar a solicitar pedidos, también puede visualizar el
									catálogo de productos con los precios respectivos.
								</p>
							</header>
							<ul class="icons major">
								<li><span class="icon fa-gem major style1"><span class="label">Lorem</span></span></li>
								<li><span class="icon fa-heart major style2"><span class="label">Ipsum</span></span></li>
								<li><span class="icon solid fa-code major style3"><span class="label">Dolor</span></span></li>
							</ul>
						</div>
					</section>

				<!-- Two -->
					<section id="two" class="wrapper alt style2">
						<section class="spotlight services" style="background-image: url(images/fondo-dark.jpg);">
							<div class="image"><img src="images/pic01.jpg" alt="" /></div><div class="content">
								<h2>registro de usuarios</h2>
								<p>Haciendo click en el botón usted podrá registrarse en nuestra plataforma para realizar pedidos.</p>
								<a href="/usuario/registro" class="button primary">Registrarse</a>
							</div>
						</section>
						<section class="spotlight services" style="background-image: url(images/fondo-dark.jpg);">
							<div class="image"><img src="images/pic02.jpg" alt="" /></div><div class="content">
								<h2>Catálogo<br />
								de productos</h2>
								<p>En el siguiente apartado usted podrá visualizar todos nuestros productos.</p>
								<a href="/pedido/catalogo" class="button primary">Ir al catálogo</a>
							</div>
						</section>
						<section class="spotlight services" style="background-image: url(images/fondo-dark.jpg);">
							<div class="image"><img src="images/pic03.jpg" alt="" /></div><div class="content">
								<h2>Realizar pedido</h2>
								<p>Si usted ya se encuentra registrado puede realizar pedidos de productos en esta sección.</p>
								<a href="#" class="button primary">Solicitar pedido</a>
							</div>
						</section>
					</section>

				<!-- Three -->
					<section id="three" class="wrapper style3 special">
						<div class="inner">
							<header class="major">
								<h2>Accumsan mus tortor nunc aliquet</h2>
								<p>Aliquam ut ex ut augue consectetur interdum. Donec amet imperdiet eleifend<br />
								fringilla tincidunt. Nullam dui leo Aenean mi ligula, rhoncus ullamcorper.</p>
							</header>
							<ul class="features">
								<li class="icon fa-paper-plane">
									<h3>Arcu accumsan</h3>
									<p>Augue consectetur sed interdum imperdiet et ipsum. Mauris lorem tincidunt nullam amet leo Aenean ligula consequat consequat.</p>
								</li>
								<li class="icon solid fa-laptop">
									<h3>Ac Augue Eget</h3>
									<p>Augue consectetur sed interdum imperdiet et ipsum. Mauris lorem tincidunt nullam amet leo Aenean ligula consequat consequat.</p>
								</li>
								<li class="icon solid fa-code">
									<h3>Mus Scelerisque</h3>
									<p>Augue consectetur sed interdum imperdiet et ipsum. Mauris lorem tincidunt nullam amet leo Aenean ligula consequat consequat.</p>
								</li>
								<li class="icon solid fa-headphones-alt">
									<h3>Mauris Imperdiet</h3>
									<p>Augue consectetur sed interdum imperdiet et ipsum. Mauris lorem tincidunt nullam amet leo Aenean ligula consequat consequat.</p>
								</li>
								<li class="icon fa-heart">
									<h3>Aenean Primis</h3>
									<p>Augue consectetur sed interdum imperdiet et ipsum. Mauris lorem tincidunt nullam amet leo Aenean ligula consequat consequat.</p>
								</li>
								<li class="icon fa-flag">
									<h3>Tortor Ut</h3>
									<p>Augue consectetur sed interdum imperdiet et ipsum. Mauris lorem tincidunt nullam amet leo Aenean ligula consequat consequat.</p>
								</li>
							</ul>
						</div>
					</section>

				<!-- CTA -->
					<section id="cta" class="wrapper style4">
						<div class="inner">
							<header>
								<h2>Arcue ut vel commodo</h2>
								<p>Aliquam ut ex ut augue consectetur interdum endrerit imperdiet amet eleifend fringilla.</p>
							</header>
							<ul class="actions stacked">
								<li><a href="#" class="button fit primary">Activate</a></li>
								<li><a href="#" class="button fit">Learn More</a></li>
							</ul>
						</div>
					</section>

				<!-- Footer -->
                                <footer id="nav" th:replace="/fragments/footer :: footer"></footer>

			</div>

		<!-- Scripts -->
			<script src="/js/jquery.min.js"></script>
			<script src="/js/jquery.scrollex.min.js"></script>
			<script src="/js/jquery.scrolly.min.js"></script>
			<script src="/js/browser.min.js"></script>
			<script src="/js/breakpoints.min.js"></script>
			<script src="/js/util.js"></script>
			<script src="/js/main.js"></script>

	</body>
</html>