<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" style="background-color: #272827;">

<head>
    <title>Registro</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="/css/main.css" />
    <noscript>
        <link rel="stylesheet" href="assets/css/noscript.css" /></noscript>
</head>

<body class="is-preload">


       <!-- Header --> 
       <header id="header" style="border-bottom: 1px solid #ccc !important;">
            <h1><a href="/" style="margin-top: 12px;">VENTAS SPRING</a></h1>
            <nav id="nav" th:replace="/fragments/nav :: nav"></nav>
        </header>

        <!-- Main -->
        <article id="main" style="background-color: #272827;">

            <section class="form-registro responsive-form">
                
                <p th:if="${error != null}" th:text="${error}" class="error texto-centrado"></p>
                <form method="POST" th:action="@{/logincheck}">
                    <h2 class="texto-centrado" style="border: 2px solid white; margin-top: 100px;">Inicia Sesión</h2>
                    <div class="gtr-uniform">

                        <label for="demo-name" style="margin-bottom: 2px;">CORREO ELECTRONICO:</label>
                        <div class="col-6" style="margin-bottom: 5px;">
                        <input type="email" name="username" id="demo-name"/>
                        </div>
                        

                        <label for="demo-name" style="margin-bottom: 2px;">CONTRASEÑA:</label>
                        <div class="col-6" style="margin-bottom: 5px;">
                        <input class="stylesNumber" type="password" name="password" id="demo-email"/>
                        </div>
                            

                        <div class="col-12">
                            <ul class="actions">
                                <li><input style="background-color: #047700;" type="submit" value="Iniciar sesión" class="primary" /></li>
                                <li><input type="reset" value="Reset" /></li>
                            </ul>
                        </div>
                    </div>
                </form>
            </section>

            <!-- Footer -->
            <footer id="nav" th:replace="/fragments/footer :: footer"></footer>


    <!-- Scripts -->
    <script src="/js/jquery.min.js"></script>
    <script src="/js/jquery.scrollex.min.js"></script>
    <script src="/js/jquery.scrolly.min.js"></script>
    <script src="/js/browser.min.js"></script>
    <script src="/js/breakpoints.min.js"></script>
    <script src="/js/util.js"></script>
    <script src="/js/main.js"></script>

</body>

</html>