<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>MarketPlace</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
        <link rel="stylesheet" href="/css/main.css" />
        <noscript>
        <link rel="stylesheet" href="assets/css/noscript.css" /></noscript>
    </head>

    <body class="is-preload">

        <!-- Page Wrapper -->
        <div id="page-wrapper">

            <!-- Header -->
            <header id="header">
                <h1><a href="/">VENTAS SPRING</a></h1>
                <nav id="nav" th:replace="/fragments/nav :: nav"></nav>
            </header>

            <!-- Main -->
            <article id="main">

                <section class="seccion contenedor">
                    
                    <div class="contenedor-anuncios">
                        <div class="anuncio texto-centrado" th:each="producto: ${productos}">
                            <img th:src="${'/foto/producto?id=' + producto.id}" alt="Anuncio casa">
                            <div class="contenido-anuncio">
                                <h3 th:text="${producto.nombre}" style="color: black;"></h3>
                                <p th:text="${producto.descripcion}"></p>
                                <p class="precio" th:text="'$' + ${producto.precio}"></p>
            
                                <a style="background-color: #047700; margin-top: 2em;" href="/pedido/catalogo" class="button primary">Ver Producto</a>
                            </div>
                        </div>

                    </div>
                </section>


                <!-- Footer -->
                <footer id="nav" th:replace="/fragments/footer :: footer"></footer>

        </div>

        <!-- Scripts -->
        <script src="/js/jquery.min.js"></script>
        <script src="/js/jquery.scrollex.min.js"></script>
        <script src="/js/jquery.scrolly.min.js"></script>
        <script src="/js/browser.min.js"></script>
        <script src="/js/breakpoints.min.js"></script>
        <script src="/js/util.js"></script>
        <script src="/js/main.js"></script>

    </body>

</html>