<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>MarketPlace</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
        <link rel="stylesheet" href="/css/main.css" />
        <noscript>
        <link rel="stylesheet" href="assets/css/noscript.css" /></noscript>
    </head>

    <body class="is-preload">

        <!-- Page Wrapper -->
        <div id="page-wrapper">

            <!-- Header -->
            <header id="header">
                <h1><a href="/">VENTAS SPRING</a></h1>
                <nav id="nav" th:replace="/fragments/nav :: nav"></nav>
            </header>

            <!-- Main -->
            <article id="main">

                <section>
                    <h5>PRODUCTOS</h5>
                    <div class="table-wrapper">
                        <table>
                            <thead>
                                <tr>
                                    <th>Fotos</th>
                                    <th>Name</th>
                                    <th>Description</th>
                                    <th>Price</th>
                                </tr>
                            </thead>
                            <tbody th:each="producto: ${productos}">
                                <tr>
                                    <td th:each="foto: ${producto.fotos}">
                                        <img th:src="${foto}" style="width: 20px"/>
                                    </td>
                                    <td th:text="${producto.nombre}"></td>
                                    <td th:text="${producto.descripcion}"></td>
                                    <td th:text="'$' + ${producto.precio}"></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </section>


                <!-- Footer -->
                <footer id="nav" th:replace="/fragments/footer :: footer"></footer>

        </div>

        <!-- Scripts -->
        <script src="/js/jquery.min.js"></script>
        <script src="/js/jquery.scrollex.min.js"></script>
        <script src="/js/jquery.scrolly.min.js"></script>
        <script src="/js/browser.min.js"></script>
        <script src="/js/breakpoints.min.js"></script>
        <script src="/js/util.js"></script>
        <script src="/js/main.js"></script>

    </body>

</html>