<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>MarketPlace</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
         <link rel="stylesheet" href="/css/main.css" />
         <noscript>
         <link rel="stylesheet" href="assets/css/noscript.css" /></noscript>
         
    </head>

    <body class="is-preload">
        <!-- Page Wrapper -->
        <div id="page-wrapper">

            <!-- Header -->
            <header id="header">
                <h1 style="margin-top: 12px"><a href="/">VENTAS SPRING</a></h1>
                <nav id="nav" th:replace="/fragments/nav :: nav"></nav>
            </header>

            <section style="padding-top: 50px" class="wrapper">
                <div class="table-wrapper">
                    <h2 style="border-top: 2px solid white; border-bottom: 2px solid white; margin-bottom: 20px" class="texto-centrado">LISTADO DE PRODUCTOS</h2>
                    <table>
                        <thead>
                            <tr style="text-transform: uppercase;">
                                <th>Name</th>
                                <th>Descripción</th>
                                <th>Precio</th>
                                <th class="boton-market" style="text-align: center;">Agregar/Quitar</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="text-responsive" style="vertical-align: center;" th:each="producto: ${productos}">
                                <td th:text="${producto.nombre}"></td>
                                <td th:text="${producto.descripcion}"></td>
                                <!--<td th:text="${#numbers.formatCurrency(producto.precio)}"></td>-->
                                <td th:text="${#numbers.formatDecimal(producto.precio,1,2) + '$'}"></td>
                                <td class="boton-market" style="text-align: center;"><a style="letter-spacing: 0px; line-height: 35px; padding: 5px;" href="#" class="button primary boton-market">Agregar al carrito</a></td>
                                <td class="boton-responsive" style="text-align: center;"><a style="letter-spacing: 0px; line-height: 25px; padding: 5px;" href="#" class="button primary boton-responsive">Agregar</a></td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </section>

            <!-- Footer -->
            <footer style="" id="nav" th:replace="/fragments/footer :: footer"></footer>
        </div>

        <!-- Scripts -->
        <script src="/js/jquery.min.js"></script>
        <script src="/js/jquery.scrollex.min.js"></script>
        <script src="/js/jquery.scrolly.min.js"></script>
        <script src="/js/browser.min.js"></script>
        <script src="/js/breakpoints.min.js"></script>
        <script src="/js/util.js"></script>
        <script src="/js/main.js"></script>
    </body>

</html>