<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" style="background-color: #272827;">

    <head>
        <title>Modificacion Perfil</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
        <link rel="stylesheet" href="/css/main.css" />
        <noscript>
        <link rel="stylesheet" href="assets/css/noscript.css" /></noscript>
    </head>

    <body class="is-preload">

        <!-- Page Wrapper -->

            <!-- Header -->
            <header id="header" style="border-bottom: 1px solid #ccc !important;">
                <h1 style="margin-top: 12px;"><a href="/">VENTAS SPRING</a></h1>
                <nav id="nav" th:replace="/fragments/nav :: nav"></nav>
            </header>

            <!-- Main -->
            <article style="background-color: #272827;" id="main">

                <section class="form-registro responsive-form">
                    
                    <p th:if="${error != null}" th:text="${error}" class="error texto-centrado"></p>
                    <form method="POST" th:action="@{/usuario/modificar/__${usuario.id}__}" th:object="${usuario}">
                        <h2 style="border: 2px solid white; margin-top: 100px;" class="texto-centrado">EDITAR PERFIL</h2>
                        <div class="gtr-uniform">
                            
                            <input hidden th:field="*{id}" name="id"> 

                            <!-- <div class="card h-100 bg-secondary">
                                <img th:src="${'/foto/usuario?id=' + usuario.id}" class="img-usuario" alt="Imagen Usuario">
                            </div> -->

                            <label for="demo-name" style="margin-bottom: 2px;">NOMBRE</label>
                            <div class="col-6" style="margin-bottom: 5px;">
                            <input type="text" name="nombre" id="demo-name" th:field="*{nombre}" placeholder="Nombre" />
                            </div>
                            <span th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}" style="color: red;"></span>

                            <label for="demo-name" style="margin-bottom: 2px;">APELLIDO</label>
                            <div class="col-6" style="margin-bottom: 5px;">
                            <input type="text" name="apellido" id="demo-email" th:field="*{apellido}" placeholder="Apellido" />
                            </div>
                            <span th:if="${#fields.hasErrors('apellido')}" th:errors="*{apellido}" style="color: red;"></span>

                            <label for="demo-name" style="margin-bottom: 2px;">E-MAIL</label>
                            <div class="col-6" style="margin-bottom: 5px;">
                            <input type="email" name="email" id="demo-email" th:field="*{email}" placeholder="Email" />
                            </div>
                            <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}" style="color: red;"></span>

                            <label for="demo-name" style="margin-bottom: 2px;">TELEFONO</label>
                            <div class="col-6" style="margin-bottom: 5px;">
                            <input class="stylesNumber" type="number" name="telefono" id="demo-email" th:field="*{telefono}" placeholder="Teléfono" />
                            </div>
                            <span th:if="${#fields.hasErrors('telefono')}" th:errors="*{telefono}" style="color: red;"></span>

                            <div class="col-12">
                                <ul class="actions">
                                    <li><input style="background-color: #047700;" type="submit" value="Modificar" class="primary" /></li>
                                </ul>
                            </div>
                        </div>
                    </form>
                </section>

                <!-- Footer -->
                <footer id="nav" th:replace="/fragments/footer :: footer"></footer>
            </article>

        <!-- Scripts -->
        <script src="/js/jquery.min.js"></script>
        <script src="/js/jquery.scrollex.min.js"></script>
        <script src="/js/jquery.scrolly.min.js"></script>
        <script src="/js/browser.min.js"></script>
        <script src="/js/breakpoints.min.js"></script>
        <script src="/js/util.js"></script>
        <script src="/js/main.js"></script>

    </body>

</html>
