<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>MarketPlace</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
         <link rel="stylesheet" href="/css/main.css" /><noscript>
         <link rel="stylesheet" href="assets/css/noscript.css" /></noscript>
         <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
         
    </head>

    <body class="is-preload">
        <!-- Page Wrapper -->
        <div id="page-wrapper">

            <!-- Header -->
            <header id="header">
                <h1 style="margin-top: 12px"><a href="/">VENTAS SPRING</a></h1>
                <nav id="nav" th:replace="/fragments/nav :: nav"></nav>
            </header>

                <h5>Alternate</h5>
                <div class="table-wrapper">
                    <table class="alt">
                        <thead>
                            <tr>
                                <th>Producto</th>
                                <th>Descripción</th>
                                <th>Precio</th>
                                <th>Opciones</th>
                            </tr>
                        </thead>

                        <!-- En caso de estar dado de baja se muestra el pulgar hacia abajo y dando click se da de alta al producto. Lo mismo ocurre cuando el pulgar esta hacia arriba -->
                        <tbody>
                            <tr th:each="producto: ${productos}">
                                <td th:text="${producto.nombre}"></td>
                                <td th:text="${producto.descripcion}"></td>
                                <td th:text="${'$' + #numbers.formatDecimal(producto.precio,1,2)}"></td>
                                <td class="boton-market" style="text-align: center;"><a style="letter-spacing: 0px; line-height: 35px; padding: 5px;" th:href="@{/producto/modificar(id=__${producto.id}__)}" class="button primary boton-market">
                                    <i class="tiny material-icons" style="vertical-align: middle;font-size: 1.3rem">border_color</i></a>
                                    <a th:if="${producto.alta == true}" style="letter-spacing: 0px; line-height: 35px; padding: 5px;" class="button primary boton-market" th:href="@{/producto/dashboard/delete(id=__${producto.id}__)}"><i class="tiny material-icons" style="vertical-align: middle;font-size: 1.3rem">thumb_up</i> </a>
                                    <a th:if="${producto.alta == false}" style="letter-spacing: 0px; line-height: 35px; padding: 5px;" class="button primary boton-market" th:href="@{/producto/dashboard/alta(id=__${producto.id}__)}"><i class="tiny material-icons" style="vertical-align: middle;font-size: 1.3rem">thumb_down</i> </a>
                                </td>
                            </tr>
                          
                        </tbody>
                        
                    </table>
                </div>

            <!-- Footer -->
            <footer id="nav" th:replace="/fragments/footer :: footer"></footer>
        </div>

        <!-- Scripts -->
        <script src="/js/jquery.min.js"></script>
        <script src="/js/jquery.scrollex.min.js"></script>
        <script src="/js/jquery.scrolly.min.js"></script>
        <script src="/js/browser.min.js"></script>
        <script src="/js/breakpoints.min.js"></script>
        <script src="/js/util.js"></script>
        <script src="/js/main.js"></script>
    </body>

</html>